<!--************************************
				Home Slider Start
		*************************************-->
		<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
			<div class="swiper-wrapper">
				<figure class="swiper-slide" style="background:url(assets/images/slider/img-01.jpg)">
					<figcaption class="tg-slider-caption">
						<div class="tg-border-heading">
							<h1><span>Get</span>Sports bike<strong>$7,999</strong></h1>
						</div>
						<a class="tg-btn" href="#"><span>buy now</span></a>
					</figcaption>
				</figure>
				<figure class="swiper-slide" style="background:url(assets/images/slider/img-02.jpg)">
					<figcaption class="tg-slider-caption">
						<div class="tg-border-heading">
							<h1><span>Get</span>Sports bike<strong>$7,999</strong></h1>
						</div>
						<a class="tg-btn" href="#"><span>buy now</span></a>
					</figcaption>
				</figure>
			</div>
			<div class="tg-prev"><span class="fa fa-angle-left"></span></div>
			<div class="tg-next"><span class="fa fa-angle-right"></span></div>
		</div>
		<!--************************************
				Home Slider End
		*************************************-->