<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<strong class="tg-logo">
				<a href="index-2.html"><img src="assets/images/logo.png" alt="image description"></a>
			</strong>
			<div class="tg-rightarea">
				<nav id="tg-nav" class="tg-nav">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="tg-navigation">
						<ul>
							<li class="active">
								<a href="index-2.html">home</a>
								<ul>
									<li><a href="index2.html">home 2</a></li>
								</ul>
							</li>
							<li><a href="search-list.html">used vehicle</a></li>
							<li><a href="search-grid.html">new vehicle</a></li>
							<li><a href="faq.html">faq</a></li>
							<li><a href="dashboard.html">dashoboard</a>
								<ul>
									<li><a href="dashboard-profile.html">user profile</a></li>
									<li><a href="dashboard-addlist.html">add listing</a></li>
									<li><a href="dashboard-listing.html">user listing</a></li>
									<li><a href="dashboard-favorites.html">user favorit</a></li>
									<li><a href="dashboard-invoices.html">user invoices</a></li>
									<li><a href="dashboard-security.html">security settings</a></li>
									<li><a href="dashboard-privacy.html">privacy settings</a></li>
								</ul>
							</li>
							<li><a href="#">pages</a>
								<ul>
									<li><a href="search-list.html">search list</a></li>
									<li><a href="search-list-v2.html">search list2</a></li>
									<li><a href="search-grid.html">search grid</a></li>
									<li><a href="search-grid-v2.html">search grid2</a></li>
									<li><a href="search-detail.html">search detail</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<nav id="tg-addnav" class="tg-addnav">
					<ul>
						<li>
							<i class="tg-compare-tag">03</i>
							<a href="compare.html" data-count="3">compare</a>
						</li>
						<li><a href="dashboard-addlist.html">add listing</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->