<!--************************************
					Latest Blog
			*************************************-->
			<section class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="tg-section-head">
								<h2>Latest Blog</h2>
								<div class="tg-description">
									<p>Eiusmod tempor ut labore</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="tg-blog-slider" class="tg-blog-slider tg-blogposts">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<article class="tg-post">
										<figure>
											<img src="assets/images/blog/img-01.jpg" alt="image description">
											<figcaption>
												<a href="#"><i class="fa fa-search"></i></a>
											</figcaption>
										</figure>
										<div class="tg-border-heading">
											<h3><a href="#">blog title here</a></h3>
											<ul class="tg-post-matadata">
												<li><a href="#">admin</a></li>
												<li><a href="#">march 26, 2016</a></li>
											</ul>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad it minim veniam nostrud eation ullamco.</p>
										</div>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="tg-post">
										<figure>
											<img src="assets/images/blog/img-02.jpg" alt="image description">
											<figcaption>
												<a href="#"><i class="fa fa-search"></i></a>
											</figcaption>
										</figure>
										<div class="tg-border-heading">
											<h3><a href="#">blog title here</a></h3>
											<ul class="tg-post-matadata">
												<li><a href="#">admin</a></li>
												<li><a href="#">march 26, 2016</a></li>
											</ul>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad it minim veniam nostrud eation ullamco.</p>
										</div>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="tg-post">
										<figure>
											<img src="assets/images/blog/img-03.jpg" alt="image description">
											<figcaption>
												<a href="#"><i class="fa fa-search"></i></a>
											</figcaption>
										</figure>
										<div class="tg-border-heading">
											<h3><a href="#">blog title here</a></h3>
											<ul class="tg-post-matadata">
												<li><a href="#">admin</a></li>
												<li><a href="#">march 26, 2016</a></li>
											</ul>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad it minim veniam nostrud eation ullamco.</p>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Latest Blog
			*************************************-->