<!--************************************
					Testmonials
			*************************************-->
			<section class="tg-main-section tg-bglight tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="tg-section-head">
								<h2>Testmonials</h2>
								<div class="tg-description">
									<p>Eiusmod tempor ut labore</p>
								</div>
							</div>
						</div>
					</div>
					<div id="tg-testimonial-slider" class="tg-testimonial-slider tg-testimonials">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<figure>
									<a href="#">
										<img src="assets/images/testimonials/img-01.jpg" alt="image description">
									</a>
								</figure>
								<div class="tg-testi-content">
									<div class="tg-border-heading">
										<h3><a href="#">jhon doE</a></h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit, sed do eiusmod tempor incididaut labor magnai aliqua enim adinim am quis nostrud.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<figure>
									<a href="#">
										<img src="assets/images/testimonials/img-02.jpg" alt="image description">
									</a>
								</figure>
								<div class="tg-testi-content">
									<div class="tg-border-heading">
										<h3><a href="#">AJELA doE</a></h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit, sed do eiusmod tempor incididaut labor magnai aliqua enim adinim am quis nostrud.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<figure>
									<a href="#">
										<img src="assets/images/testimonials/img-01.jpg" alt="image description">
									</a>
								</figure>
								<div class="tg-testi-content">
									<div class="tg-border-heading">
										<h3><a href="#">jhon doE</a></h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit, sed do eiusmod tempor incididaut labor magnai aliqua enim adinim am quis nostrud.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<figure>
									<a href="#">
										<img src="assets/images/testimonials/img-02.jpg" alt="image description">
									</a>
								</figure>
								<div class="tg-testi-content">
									<div class="tg-border-heading">
										<h3><a href="#">AJELA doE</a></h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit, sed do eiusmod tempor incididaut labor magnai aliqua enim adinim am quis nostrud.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-pagination"></div>
					</div>
				</div>
			</section>
			<!--************************************
					Testmonials
			*************************************-->