<!--The content below is only a placeholder and can be replaced.-->
<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-haslayout">
		<app-header></app-header>
		<app-hslider></app-hslider>
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
      
      <app-brand></app-brand>
      <app-featurev></app-featurev>
      <app-comparev></app-comparev>
			<app-topvehicle></app-topvehicle>
			<app-testmonials></app-testmonials>
			<app-blogs></app-blogs>
		</main>
		<!--************************************
				Main End
		*************************************-->
    <app-footer></app-footer>
  
  </div>

  	<!--************************************
			Wrapper End
	*************************************-->