<!--************************************
					Vehicle Brands & Search App
			*************************************-->
			<section class="tg-haslayout tg-brands-searchapp">
				<div class="col-md-5 col-sm-12">
					<div class="row">
						<div class="tg-brands">
							<h2>vehicle make:</h2>
							<div id="tg-brands-slider" class="tg-brands-slider">
								<div class="swiper-wrapper">
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-social-1"></span>
										</a>
									</figure>
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-web"></span>
										</a>
									</figure>
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-social-media"></span>
										</a>
									</figure>
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-social-1"></span>
										</a>
									</figure>
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-krop-big-logo"></span>
										</a>
									</figure>
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-social-2"></span>
										</a>
									</figure>
									<figure class="swiper-slide">
										<a href="#">
											<span class="icon-social-3"></span>
										</a>
									</figure>
								</div>
								<div class="tg-prev"><span class="fa fa-angle-left"></span></div>
								<div class="tg-next"><span class="fa fa-angle-right"></span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-sm-12">
					<div class="row">
						<div class="tg-vehiclesearchapp">
							<form class="tg-form-searchapp" enctype="text/plain" action="#" method="post">
								<fieldset class="row">
									<div class="col-sm-3">
										<div class="form-group">
											<div class="tg-select">
												<select>
													<option>Modal</option>
													<option>BMW</option>
													<option>Mercdese</option>
													<option>suzuki</option>
													<option>yamaha</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<div class="tg-select">
												<select>
													<option>Year</option>
													<option>1995</option>
													<option>1996</option>
													<option>1997</option>
													<option>1998</option>
													<option>1999</option>
													<option>2000</option>
													<option>2001</option>
													<option>2002</option>
													<option>2003</option>
													<option>2004</option>
													<option>2005</option>
													<option>2006</option>
													<option>2007</option>
													<option>2008</option>
													<option>2009</option>
													<option>2010</option>
													<option>2011</option>
													<option>2012</option>
													<option>2013</option>
													<option>2014</option>
													<option>2015</option>
													<option>2016</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<input type="text" class="form-control" value="post code" name="postcode" placeholder="Post Code">
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<div class="tg-select">
												<select name="locations" class="locations">
													<option value="">Select Location</option>
													<option value="aberdeen">Aberdeen</option>
													<option value="aldershot">Aldershot</option>
													<option value="altrincham">Altrincham</option>
													<option value="aylesbury">Aylesbury</option>
													<option value="bamber">Bamber</option>
													<option value="bangor">Bangor</option>
													<option value="batley">Batley</option>
													<option value="bebingto">Bebingto</option>
													<option value="bedford">Bedford</option>
													<option value="birmingham">Birmingham</option>
													<option value="blackpool">Blackpool</option>
													<option value="brentwood">Brentwood</option>
													<option value="bristol">Bristol</option>
													<option value="cardiff">Cardiff</option>
													<option value="carlisle">Carlisle</option>
													<option value="crawley">Crawley</option>
													<option value="darlington">Darlington</option>
													<option value="eastleigh">Eastleigh</option>
													<option value="edinburg">Edinburg</option>
													<option value="esher">Esher</option>
													<option value="glasgow-sco">Glasgow SCO</option>
													<option value="guildford">Guildford</option>
													<option value="halesowen">Halesowen</option>
													<option value="halifax">Halifax</option>
													<option value="hamilton">Hamilton</option>
													<option value="leeds">Leeds</option>
													<option value="leicester">Leicester</option>
													<option value="liverpool">Liverpool</option>
													<option value="london">London</option>
													<option value="louisville">Louisville</option>
													<option value="manchester">Manchester</option>
													<option value="sheffield">Sheffield</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-6 tg-milagebox">
										<div class="form-group">
											<h2>Mileage: <input type="text" id="tg-mileage" readonly></h2>
											<div id="tg-mileage-slider" class="tg-mileage-slider"></div>
										</div>
									</div>
									<div class="col-sm-6 tg-colorbox">
										<h2>colors:</h2>
										<div class="form-group">
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color1" id="color1">
												<label for="color1"></label>
											</div>
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color2" id="color2">
												<label for="color2"></label>
											</div>
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color3" id="color3">
												<label for="color3"></label>
											</div>
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color4" id="color4">
												<label for="color4"></label>
											</div>
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color5" id="color5">
												<label for="color5"></label>
											</div>
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color6" id="color6">
												<label for="color6"></label>
											</div>
											<div class="tg-checkbox">
												<input type="checkbox" name="color" value="color7" id="color7">
												<label for="color7"></label>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<button class="tg-btn"><span>search now</span></button>
										<button class="tg-btn"><span>advancedsearch</span></button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Vehicle Brands & Search App
			*************************************-->