<!--************************************
					Compare Vehicle
			*************************************-->
			<section class="tg-haslayout tg-vehicle-compare">
				<div class="tg-vstag">
					<div class="holder">
						<div class="tg-border-heading">
							<h3>vs</h3>
						</div>
						<a href="#">view now</a>
					</div>
				</div>
				<div id="tg-compare-slider" class="tg-compare-slider tg-comparebox">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="tg-compare tg-compare-left">
								<figure class="tg-leftimginout">
									<img src="assets/images/compare-slider/img-01.png" alt="image description">
								</figure>
								<div class="tg-carfeatures">
									<span class="tg-icon icon-krop-big-logo"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
							</div>
							<div class="tg-compare tg-compare-right">
								<div class="tg-carfeatures">
									<span class="tg-icon icon-web"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
								<figure class="tg-rightimginout">
									<img src="assets/images/compare-slider/img-02.png" alt="image description">
								</figure>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="tg-compare tg-compare-left">
								<figure>
									<img src="assets/images/compare-slider/img-01.png" alt="image description">
								</figure>
								<div class="tg-carfeatures">
									<span class="tg-icon icon-krop-big-logo"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
							</div>
							<div class="tg-compare tg-compare-right">
								<div class="tg-carfeatures">
									<span class="tg-icon icon-web"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
								<figure>
									<img src="assets/images/compare-slider/img-02.png" alt="image description">
								</figure>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="tg-compare tg-compare-left">
								<figure>
									<img src="assets/images/compare-slider/img-01.png" alt="image description">
								</figure>
								<div class="tg-carfeatures">
									<span class="tg-icon icon-krop-big-logo"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
							</div>
							<div class="tg-compare tg-compare-right">
								<div class="tg-carfeatures">
									<span class="tg-icon icon-web"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
								<figure>
									<img src="assets/images/compare-slider/img-02.png" alt="image description">
								</figure>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="tg-compare tg-compare-left">
								<figure>
									<img src="assets/images/compare-slider/img-01.png" alt="image description">
								</figure>
								<div class="tg-carfeatures">
									<span class="tg-icon icon-krop-big-logo"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
							</div>
							<div class="tg-compare tg-compare-right">
								<div class="tg-carfeatures">
									<span class="tg-icon icon-web"></span>
									<div class="tg-border-heading">
										<h3>vehicle title here</h3>
									</div>
									<div class="tg-description">
										<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrn amco laboris nisi ut aliquip commodo.</p>
									</div>
									<div class="tg-price-rating">
										<span class="tg-price">$ 3.4m</span>
										<div class="tg-stars"><span></span></div>
									</div>
								</div>
								<figure>
									<img src="assets/images/compare-slider/img-02.png" alt="image description">
								</figure>
							</div>
						</div>
					</div>
					<div class="tg-prev"><span class="fa fa-angle-left"></span></div>
					<div class="tg-next"><span class="fa fa-angle-right"></span></div>
					<div class="tg-pagination"></div>
				</div>
			</section>
			<!--************************************
					Compare Vehicle
			*************************************-->