<!--************************************
					Top Vehicle
			*************************************-->
			<section class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="tg-section-head">
								<h2>top searches</h2>
								<div class="tg-description">
									<p>Eiusmod tempor ut labore</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tg-featureditems">
						<div class="tg-featureditem">
							<figure class="tg-img-holder">
								<img src="assets/images/featureditem/img-04.jpg" alt="image description">
								<figcaption>
									<span class="tg-theme-tag tg-trending">Trending</span>
									<div class="tg-featureditemcontent">
										<div class="tg-border-heading">
											<h3><a href="#">vehicle title here</a></h3>
											<span class="tg-price"><a href="#">Price: $44,990</a></span>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrud eation.</p>
										</div>
									</div>
									<div class="tg-btnbox">
										<span class="tg-like">
											<a href="#">
												<i class="fa fa-heart"></i>
												<em class="tg-addtowishlist">add to wish list</em>
											</a>
										</span>
										<span class="tg-compare">
											<a href="#">
												<i class="fa fa-random"></i>
												<em class="tg-addtowishlist">compare</em>
											</a>
										</span>
									</div>
								</figcaption>
							</figure>
						</div>
						<div class="tg-featureditem">
							<figure class="tg-img-holder">
								<img src="assets/images/featureditem/img-05.jpg" alt="image description">
								<figcaption>
									<span class="tg-theme-tag tg-trending">Trending</span>
									<div class="tg-featureditemcontent">
										<div class="tg-border-heading">
											<h3><a href="#">vehicle title here</a></h3>
											<span class="tg-price"><a href="#">Price: $44,990</a></span>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrud eation.</p>
										</div>
									</div>
									<div class="tg-btnbox">
										<span class="tg-like">
											<a href="#">
												<i class="fa fa-heart"></i>
												<em class="tg-addtowishlist">add to wish list</em>
											</a>
										</span>
										<span class="tg-compare">
											<a href="#">
												<i class="fa fa-random"></i>
												<em class="tg-addtowishlist">compare</em>
											</a>
										</span>
									</div>
								</figcaption>
							</figure>
						</div>
						<div class="tg-featureditem">
							<figure class="tg-img-holder">
								<img src="assets/images/featureditem/img-02.jpg" alt="image description">
								<figcaption>
									<div class="tg-featureditemcontent">
										<div class="tg-border-heading">
											<h3><a href="#">vehicle title here</a></h3>
											<span class="tg-price"><a href="#">Price: $44,990</a></span>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrud eation.</p>
										</div>
									</div>
									<div class="tg-btnbox">
										<span class="tg-like">
											<a href="#">
												<i class="fa fa-heart"></i>
												<em class="tg-addtowishlist">add to wish list</em>
											</a>
										</span>
										<span class="tg-compare">
											<a href="#">
												<i class="fa fa-random"></i>
												<em class="tg-addtowishlist">compare</em>
											</a>
										</span>
									</div>
								</figcaption>
							</figure>
						</div>
						<div class="tg-featureditem">
							<figure class="tg-img-holder">
								<img src="assets/images/featureditem/img-03.jpg" alt="image description">
								<figcaption>
									<div class="tg-featureditemcontent">
										<div class="tg-border-heading">
											<h3><a href="#">vehicle title here</a></h3>
											<span class="tg-price"><a href="#">Price: $44,990</a></span>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrud eation.</p>
										</div>
									</div>
									<div class="tg-btnbox">
										<span class="tg-like">
											<a href="#">
												<i class="fa fa-heart"></i>
												<em class="tg-addtowishlist">add to wish list</em>
											</a>
										</span>
										<span class="tg-compare">
											<a href="#">
												<i class="fa fa-random"></i>
												<em class="tg-addtowishlist">compare</em>
											</a>
										</span>
									</div>
								</figcaption>
							</figure>
						</div>
						<div class="tg-featureditem">
							<figure class="tg-img-holder">
								<img src="assets/images/featureditem/img-04.jpg" alt="image description">
								<figcaption>
									<span class="tg-theme-tag tg-trending">Trending</span>
									<div class="tg-featureditemcontent">
										<div class="tg-border-heading">
											<h3><a href="#">vehicle title here</a></h3>
											<span class="tg-price"><a href="#">Price: $44,990</a></span>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrud eation.</p>
										</div>
									</div>
									<div class="tg-btnbox">
										<span class="tg-like">
											<a href="#">
												<i class="fa fa-heart"></i>
												<em class="tg-addtowishlist">add to wish list</em>
											</a>
										</span>
										<span class="tg-compare">
											<a href="#">
												<i class="fa fa-random"></i>
												<em class="tg-addtowishlist">compare</em>
											</a>
										</span>
									</div>
								</figcaption>
							</figure>
						</div>
						<div class="tg-featureditem">
							<figure class="tg-img-holder">
								<img src="assets/images/featureditem/img-05.jpg" alt="image description">
								<figcaption>
									<span class="tg-theme-tag tg-trending">Trending</span>
									<div class="tg-featureditemcontent">
										<div class="tg-border-heading">
											<h3><a href="#">vehicle title here</a></h3>
											<span class="tg-price"><a href="#">Price: $44,990</a></span>
										</div>
										<div class="tg-description">
											<p>Sed do eiusmod tempoar inont ut labore agua enimad minim veniam nostrud eation.</p>
										</div>
									</div>
									<div class="tg-btnbox">
										<span class="tg-like">
											<a href="#">
												<i class="fa fa-heart"></i>
												<em class="tg-addtowishlist">add to wish list</em>
											</a>
										</span>
										<span class="tg-compare">
											<a href="#">
												<i class="fa fa-random"></i>
												<em class="tg-addtowishlist">compare</em>
											</a>
										</span>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>
					<div class="tg-btnbox tg-center">
						<a class="tg-btn" href="#"><span>view all</span></a>
					</div>
				</div>
			</section>
			<!--************************************
					Top Vehicle
			*************************************-->